<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fastlaneDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B625BEAE1F41CB10E6DF8A26081BD752CFE656E7</string>
				<key>dateExpires</key>
				<string>2020/1/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7YFZSA4628.com.youhong.fastlaneDemo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7YFZSA4628</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>7YFZSA4628.com.youhong.fastlaneDemo</string>
				</array>
			</dict>
			<key>name</key>
			<string>fastlaneDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ff01d59e-7df4-4f88-a148-2666245312ff</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7YFZSA4628</string>
				<key>name</key>
				<string>Kunshan Youhong Electronics Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
